<div class="container p-3 my-4 bg-light">
  <h2 style="color:blue">Información del proyecto</h2>
  <br/>
  <p><b>Argumentos de entrada: </b>{{info.arguments}}</p>
  <p><b>Nombre de la plataforma (sistema operativo): </b>{{info.platform}}</p>
  <p><b>Version de node.js: </b>{{info.version}}</p>
  <p><b>Memoria total reservada (rss): </b>{{info.memory}}</p>
  <p><b>Path de ejecución: </b>{{info.path}}</p>
  <p><b>Process id: </b>{{info.id}}</p>
  <p><b>Carpeta del proyecto: </b>{{info.folder}}</p>
  <p><b>Número de procesadores</b>: </b>{{info.numCPUs}}</p>
  <p><b>Modo de ejecución: </b>{{info.mode}}</p>
  <p><b>Puerto de escucha: </b>{{info.port}}</p>
  <p><b>Tipo de persistencia: </b>{{info.persistenceType}}</p>
  <p><b>Tiempo de sesión: </b>{{info.sessionTime}}</p>
  <p><b>Db Mongo local: </b>{{info.mongo_db}}</p>
  <p><b>Db Mongo Atlas: </b>{{info.mongo_atlas}}</p>
  <p><b>Email para notificaciones: </b>{{info.admin_email}}</p>
  <br/>
</div>